@{ 
    Layout = "_Layout";
}

<section class="section">
    <div class="container">
        <div class="media-content">
            <figure class="image is-256x256">
                <img src="~/Assets/raspipa.PNG" />
            </figure>
        </div>
    </div>
</section>

<section class="section">

</section>

