@{ 
    ViewData["Title"] = "PiPA | Home";
    Layout = "_Layout";
}

<div class="tile is-ancestor ">
    <div class="tile is-12">
        <div class="tile">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <p class="title">PiPA</p>
                    <p class="subtitle">Personal Digital Assistant redefined.</p>
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </article>
            </div>
        </div>
    </div>
</div>


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <article class="tile notification">
                        <div class="card card-equal-height">
                            <div class="card-content">
                                <p class="title">
                                    Mark lawrenson knavish rogue blacksmith facial accessory, admiral gent blacksmith blue oyster bar knavish rogue mark lawrenson pit fighter graeme souness hairy kid at school facial accessory ron burgundy. Dolor ipsum hairy kiss. ned flanders by jingo. cream bun disaster, um yesbaby mexican ned flanders cream bun disaster dolor ipsum cappuccino catcher id hairy kiss. cunning like a fox horseshoe by jingo. robot moustache?
                                </p>
                            </div>
                        </div>
                </article>
            </div>
            <div class="column">
                <article class="tile notification is-warning">
                    <div class="column">
                        <div class="card is-fullimage">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="http://via.placeholder.com/512x512" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        @*<div class="tile is-parent is-12">
            <article class="tile is-child notification">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                Mark lawrenson knavish rogue blacksmith facial accessory, admiral gent blacksmith blue oyster bar knavish rogue mark lawrenson pit fighter graeme souness hairy kid at school facial accessory ron burgundy. Dolor ipsum hairy kiss. ned flanders by jingo. cream bun disaster, um yesbaby mexican ned flanders cream bun disaster dolor ipsum cappuccino catcher id hairy kiss. cunning like a fox horseshoe by jingo. robot moustache?
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="tile is-child notification is-warning">
                <div class="column">
                    <div class="card is-fullimage">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="http://via.placeholder.com/512x512" />
                            </figure>
                        </div>
                    </div>
                </div>
            </article>
        </div>*@

        <div class="tile is-parent is-12">
            <article class="tile is-child notification is-info">
                <p class="title">PiPA</p>
                <p class="subtitle">Personal Digital Assistant redefined.</p>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </article>
        </div>

        <div class="tile is-parent is-12">
            <article class="tile is-child notification is-success">
                <p class="title">PiPA</p>
                <p class="subtitle">Personal Digital Assistant redefined.</p>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </article>
        </div>
    </div>
</section>

