@{ 
    ViewData["Title"] = "PiPA | Home";
    Layout = "_Layout";
}

<div class="tile is-ancestor ">
    <div class="tile is-12 is-verticle">
        <div class="tile">
            <div class="tile is-parent is-verticle">
                <article class="tile is-child notification is-primary">
                    <p class="title">PiPA</p>
                    <p class="subtitle">Personal Digital Assistant redefined.</p>
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </article>
            </div>
        </div>
    </div>

    <div class="tile is-success">
        <p class="title">Another tile</p>
    </div>
    <div class="tile is-warning">
        <p class="title">And another tile</p>
    </div>
</div>

