@{
    Layout = "_Layout";
}

<form action="/" method="post">
    <div class="field">
        <label class="label">Email:</label>
        <div class="control has-icons-left">
            <input class="input" type="email" placeholder="Enter email address" />
            <span class="has-icons-left is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Password:</label>
        <div class="control">
            <input class="input" type="password" placeholder="Enter password" />
        </div>
    </div>
</form>