@{
    Layout = "_Layout";
}

<form action="/" method="post">
    <div class="field">
        <div class="label">Email:</div>
        <div class="control">
            <input class="input" type="text" placeholder="Enter email address" />
        </div>
    </div>
    
</form>