<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" asp-page="/Home">
                    <!--img src="~/Assets/" alt="Logo" width="112" height="28" asp-append-version="true" /-->
                    PiPA
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="desktopNavbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="desktopNavbar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" asp-page="/Home">Home</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">About</a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">What is PiPA?</a>
                            <a class="navbar-item" href="#">Procurement</a>
                            <a class="navbar-item" href="#">Setup</a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-danger" href="~/Account/Register">
                                Sign Up
                            </a>
                            <a class="button is-info" href="~/Account/Login">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>


    <section class="section">
        <div class="container">
            @RenderBody()
        </div>
    </section>
</body>
</html>
