@model PiPA.Models.Tasks

@{
    Layout = "_Layout";
}

<h1>Create Task</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="TaskName">Task Name: </label>
        <input asp-for="TaskName" />

        <label asp-for="Description"> Description: </label>
        <input asp-for="Description" />

        <label asp-for="DateCreated">Date created: </label>
        <input asp-for="DateCreated" />

        <label asp-for="PlannedDateComplete">Planned date of completion: </label>
        <input asp-for="PlannedDateComplete" />

        <input type="submit" value="Create"/>
    </div>
</form>

